@model IEnumerable<IssueTracker.Models.NotificationModel>

@{
    ViewBag.Title = "ViewNotifications";
}

<h2>ViewNotifications</h2>

<table class="table" id="notificationTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeCreated)
            </th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeCreated)
                </td>

            </tr>
        }
    </tbody>

</table>
