
@{
    ViewBag.Title = "ViewAllIssues";
}

<h2>View Issues related to you</h2>

<ul class="nav nav-tabs">
    <li class="nav-item" id="listYourIssue">
        <a href="#yourIssues" class="nav-link" data-toggle="tab">Issues you created</a>
    </li>
    <li class="nav-item" id="listAssigneedIssue">
        <a href="#issuesAssignedYou" class="nav-link" data-toggle="tab">Issues assigned to you</a>
    </li>
</ul>

<div class="tab-content" style="margin-bottom:50px;margin-top:50px">
    <div class="tab-pane fade" id="yourIssues">
        <div id="partialViewIssusCreated"></div>
    </div>
    <div class="tab-pane fade" id="issuesAssignedYou">
        <div id="partialViewIssusAssigned"></div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
        switch ("@ViewBag.selectTab") {
            case "AssigneedIssue":
                $("#listAssigneedIssue").addClass("active");
                $("#issuesAssignedYou").addClass("active in");
                break;
            default:
                $("#listYourIssue").addClass("active");
                $("#yourIssues").addClass("active in");
        }

            $.ajax({
                url: '/Issue/ViewIssuesYouCreated',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#partialViewIssusCreated').html(result);
                    $('#issueTable').DataTable({});
                },
                error: function () {
                    alert(status);
                }
            });

            $.ajax({
                url: '/Issue/ViewIssuesAssigendToYou',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#partialViewIssusAssigned').html(result);
                    $('#issueTableAssigned').DataTable({});
                },
                error: function () {
                    alert(status);
                }
            });


        });
    </script>

}