<select name="Priority" class="form-control" id="selectPriority">
    <option value="None">None</option>
    <option value="Low">Low</option>
    <option value="Medium">Medium</option>
    <option value="High">High</option>
</select>
