<select name="Status" class="form-control" id="selectStatus">
    <option value="Open">Open</option>
    <option value="In progress">In progress</option>
    <option value="Medium">Additional info required</option>
    <option value="Closed">Closed</option>
</select>
