<select name="Type" class="form-control" id="selectType">
    <option value="Bug">Bug</option>
    <option value="Error">Error</option>
    <option value="Feature request">Feature request</option>
    <option value="Document request">Document request</option>
    <option value="Other">Other</option>
</select>
