
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            Notifications
            <i class="bx bx-bell"></i>
        </li>
    </ul>
}
